<?xml version="1.0" encoding="UTF-8"?>

<!--

Copyright (C) 2011 Project Wolframe.
All rights reserved.

This file is part of Project Wolframe.

Commercial Usage
   Licensees holding valid Project Wolframe Commercial licenses may
   use this file in accordance with the Project Wolframe
   Commercial License Agreement provided with the Software or,
   alternatively, in accordance with the terms contained
   in a written agreement between the licensee and Project Wolframe.

GNU General Public License Usage
   Alternatively, you can redistribute this file and/or modify it
   under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Wolframe is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Wolframe.  If not, see <http://www.gnu.org/licenses/>.

If you have questions regarding the use of this file, please contact
Project Wolframe.

-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="WixUI_Wolframe">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="Mondo" />

			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />
			<DialogRef Id="DatabaseSelectDlg" />
			<DialogRef Id="PostgresqlParametersDlg" />

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
						
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed AND NOT PATCH</Publish>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

			<Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" Order="2">LicenseAccepted = "1"</Publish>
			
			<Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
			<Publish Dialog="SetupTypeDlg" Control="TypicalButton" Event="NewDialog" Value="DatabaseSelectDlg">1</Publish>
			<Publish Dialog="SetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
			<Publish Dialog="SetupTypeDlg" Control="CompleteButton" Event="NewDialog" Value="DatabaseSelectDlg">1</Publish>

			<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
			<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
			<Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="DatabaseSelectDlg">1</Publish>

			<Publish Dialog="DatabaseSelectDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
			<Publish Dialog="DatabaseSelectDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"</Publish>
			<Publish Dialog="DatabaseSelectDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="3">WixUI_InstallMode = "Change"</Publish>
			<Publish Dialog="DatabaseSelectDlg" Control="Next" Event="NewDialog" Value="PostgresqlParametersDlg" Order="1">WOLFRAME_DATABASE_TYPE = "pgdb"</Publish>
			<Publish Dialog="DatabaseSelectDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1">WOLFRAME_DATABASE_TYPE = "sqlitedb"</Publish>

			<Publish Dialog="PostgresqlParametersDlg" Control="Back" Event="NewDialog" Value="DatabaseSelectDlg" Order="1">1</Publish>
			<Publish Dialog="PostgresqlParametersDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1">1</Publish>
			
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="DatabaseSelectDlg" Order="1">WOLFRAME_DATABASE_TYPE = "sqlitedb" AND (WixUI_InstallMode = "InstallCustom")</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="DatabaseSelectDlg" Order="2">WOLFRAME_DATABASE_TYPE = "sqlitedb" AND (WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete")</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="DatabaseSelectDlg" Order="3">WOLFRAME_DATABASE_TYPE = "sqlitedb" AND (WixUI_InstallMode = "Change")</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="PostgresqlParametersDlg" Order="1">WOLFRAME_DATABASE_TYPE = "pgdb" AND (WixUI_InstallMode = "InstallCustom")</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="PostgresqlParametersDlg" Order="2">WOLFRAME_DATABASE_TYPE = "pgdb" AND (WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete")</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="PostgresqlParametersDlg" Order="3">WOLFRAME_DATABASE_TYPE = "pgdb" AND (WixUI_InstallMode = "Change")</Publish>			
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">WixUI_InstallMode = "Update"</Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
		</UI>

		<UIRef Id="WixUI_Common" />
	</Fragment>
</Wix>