<?xml version="1.0" encoding="utf-8"?>

<!--

Copyright (C) 2011 Project Wolframe.
All rights reserved.

This file is part of Project Wolframe.

Commercial Usage
   Licensees holding valid Project Wolframe Commercial licenses may
   use this file in accordance with the Project Wolframe
   Commercial License Agreement provided with the Software or,
   alternatively, in accordance with the terms contained
   in a written agreement between the licensee and Project Wolframe.

GNU General Public License Usage
   Alternatively, you can redistribute this file and/or modify it
   under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Wolframe is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Wolframe.  If not, see <http://www.gnu.org/licenses/>.

If you have questions regarding the use of this file, please contact
Project Wolframe.

-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:firewall="http://schemas.microsoft.com/wix/FirewallExtension"
	 xmlns:contrib="http://wixtoolset.org/wixcontrib/2008">

	<?define ProductVersion = "0.0.1" ?>
	<?define ProductCode = "{09E1E9CC-6AE6-4207-B7FE-F47CFDB2861F}" ?>
	<?define ProductUpgradeCode = "{64361569-C468-42DE-95A1-901DDDE84D13}" ?>
	
	<?if $(sys.BUILDARCH) = "x64" ?>
		<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
		<?ifdef var.debug?>
			<?define ProductName = "Wolframe (64-bit, debug version)" ?>
		<?else?>
			<?define ProductName = "Wolframe (64-bit)" ?>
		<?endif?>
	<?elseif $(sys.BUILDARCH) = "x86" ?>
		<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
		<?ifdef var.debug?>
			<?define ProductName = "Wolframe (32-bit, debug version)" ?>
		<?else?>
			<?define ProductName = "Wolframe (32-bit)" ?>
		<?endif?>
	<?endif?>
	
	<Product Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="Wolframe Team"
	         Language="1033" Codepage="1252"
	         Id="$(var.ProductCode)" 
	         UpgradeCode="$(var.ProductUpgradeCode)" >
		 
		<Package Description="Wolframe Windows Installer Package"
		         Comments="The Wolframe framework"
		         Manufacturer="Wolframe Team" InstallerVersion="300" Compressed="yes"/>

		<Media Id="1" Cabinet="wolframe.cab" EmbedCab="yes"/>
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
				<Directory Id="WolframeGroup" Name="Wolframe Group">
					<Directory Id="INSTALLDIR" Name="Wolframe">
						<Component Id="License" Guid="{6999FF89-95FC-4E6B-867B-7AC19839284E}">
							<File Id="license.rtf" Name="license.rtf" DiskId="1" Source="license.rtf"/>
						</Component>
						<Directory Id="BinDir" Name="bin">
							<Component Id="EventLogDlls" Guid="{b9855bb2-d7ea-46d7-8873-96e1612212c3}">
								<File Id="wolframemsg.dll" Name="wolframemsg.dll" DiskId="1" Source="..\src\libwolframe\logger\wolframemsg.dll"/>								
							</Component>
							
							<Component Id="WolfilterBinary" Guid="{10d4d86a-78e3-4262-8d61-279b20ef5fc2}">
								<File Id="wolfilter.exe" Name="wolfilter.exe" DiskId="1" Source="..\src\wolfilter.exe"/>
							</Component>
							
							<Component Id="Wolframec" Guid="{0cf1d114-d387-4b9d-a10d-e4c158f82744}">
								<File Id="wolframec.exe" Name="wolframec.exe" DiskId="1" Source="..\clients\cmdline\wolframec.exe"/>
							</Component>
							
							<Component Id="WolframeCppClientLib" Guid="{5211387d-521f-48d2-930f-efc6de422981}">
								<File Id="wolframe_client.dll" Name="wolframe_client.dll" DiskId="1" Source="..\clients\lib\wolframe_client.lib"/>
							</Component>

							<?ifdef var.with_qt?>
							<Component Id="WolframeQtClient" Guid="{8f1459e5-c247-400b-bbb1-cf2593f7e15c}">
								<File Id="qtclient.exe" Name="qtclient.exe" DiskId="1" Source="..\clients\qt\qtclient.exe"/>
							</Component>
							<?endif?>
							
							<?ifdef var.with_qt?>
							<Component Id="WolframeWidgets" Guid="{9dcd5fa4-62cd-40ed-a970-5f5df11b43cc}">
								<File Id="qtwolframewidgets.dll" Name="wolframewidgets.dll" DiskId="1" Source="..\clients\qt\plugins\wolframewidgets.dll"/>
							</Component>
							<?endif?>

							<?ifdef var.with_qt?>
							<Component Id="QtDlls" Guid="{75155ec8-6ff0-435d-adb5-53207761a9ae}">
								<?ifdef var.debug?>
									<File Id="QtCored4.dll" Name="QtCored4.dll" DiskId="1" Source="..\clients\qt\QtCored4.dll"/>
									<File Id="QtGuid4.dll" Name="QtGuid4.dll" DiskId="1" Source="..\clients\qt\QtGuid4.dll"/>
									<File Id="QtNetworkd4.dll" Name="QtNetworkd4.dll" DiskId="1" Source="..\clients\qt\QtNetworkd4.dll"/>
									<File Id="QtWebkitd4.dll" Name="QtWebkitd4.dll" DiskId="1" Source="..\clients\qt\QtWebkitd4.dll"/>
									<File Id="QtSqld4.dll" Name="QtSqld4.dll" DiskId="1" Source="..\clients\qt\QtSqld4.dll"/>
								<?else?>
									<File Id="QtCore4.dll" Name="QtCore4.dll" DiskId="1" Source="..\clients\qt\QtCore4.dll"/>
									<File Id="QtGui4.dll" Name="QtGui4.dll" DiskId="1" Source="..\clients\qt\QtGui4.dll"/>
									<File Id="QtNetwork4.dll" Name="QtNetwork4.dll" DiskId="1" Source="..\clients\qt\QtNetwork4.dll"/>
									<File Id="QtWebkit4.dll" Name="QtWebkit4.dll" DiskId="1" Source="..\clients\qt\QtWebkit4.dll"/>
									<File Id="QtSql4.dll" Name="QtSql4.dll" DiskId="1" Source="..\clients\qt\QtSql4.dll"/>
								<?endif?>
							</Component>
							<?endif?>							
							
							<Component Id="ServiceBinary" Guid="{112265CD-F35C-49B5-A4A1-F685B32BC208}">
								<File Id="wolframed.exe" Name="wolframed.exe" DiskId="1" Source="..\src\wolframed.exe"/>

								<!-- add firewall rules for plain and SSL -->
								<firewall:FirewallException Id="Protocol" Name="Wolframe Protocol" Port="7661" Protocol="tcp" Scope="any"/>
								<firewall:FirewallException Id="SSLProtocol" Name="Wolframe Protocol (SSL)" Port="7961" Protocol="tcp" Scope="any"/>

								<!-- set location of the logfile -->
								<util:XmlFile Id="UpdateLogfileLocation" Action="setValue" ElementPath="/configuration/logging/logFile/filename"
								              Value="[INSTALLDIR]logs\wolframed.log"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
								<!-- install service (TODO, couple names with config) -->
								<ServiceInstall Id="ServiceInstallation" Type="ownProcess" Vital="yes"
								                Name="wolframe" DisplayName="Wolframe Daemon"
										Description="Wolframe Dameon" Start="demand"
										Account="LocalSystem" ErrorControl="normal"
										Interactive="no">
								</ServiceInstall>
								<ServiceControl Id="ServiceControl" Name="wolframe" Remove="uninstall"
								                Stop="both" Wait="yes"/>
							</Component>
							
							<?ifdef with_sqlite3?>
								<Component Id="Sqlite3Binary" Guid="{d675f10d-261d-4834-a3fb-3bb9ec08768b}">
									<File Id="sqlite3.exe" Name="sqlite3.exe" DiskId="1" Source="..\sqlite3\sqlite3.exe"/>
								</Component>
							<?endif?>
							
							<?ifdef with_lua?>
								<Component Id="LuaBinary" Guid="{cdf17532-02be-4259-b3c9-90aea143341b}">
									<File Id="lua.exe" Name="lua.exe" Source="..\lua\src\lua.exe"/>
								</Component>
								<Component Id="LuaDll" Guid="{7dc29da2-ab0b-47ff-b98d-5d3bfaf75544}">
									<File Id="lua52.dll" Name="lua52.dll" Source="..\lua\src\lua52.dll"/>
								</Component>
							<?endif?>
							
							<Component Id="EventLogRegistryEntries" Guid="{f0a03f1a-155c-46b8-88bf-0ea608222b92}">
								<!-- register event logger source (TODO, couple with config) -->
								<RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\Wolframe">
									<RegistryValue Id="EventMessageFile" Type="expandable" Name="EventMessageFile" 
									               Value="[INSTALLDIR]bin\wolframemsg.dll"/>
									<RegistryValue Id="CategoryMessageFile" Type="expandable" Name="CategoryMessageFile" 
									               Value="[INSTALLDIR]bin\wolframemsg.dll"/>
									<RegistryValue Id="TypesSupported" Type="integer" Name="TypesSupported"
									               Value="7"/> <!-- EVENTLOG_ERROR_TYPE | EVENTLOG_WARNING_TYPE | EVENTLOG_INFORMATION_TYPE -->
									<RegistryValue Id="CategoryCount" Type="integer" Name="CategoryCount" Value="5"/>
								</RegistryKey>
							</Component>
		
							<!-- add the service parameters to the ImagePath service registry entry -->
							<Component Id="ServiceRegistryEntries" Guid="{0e5bde38-207e-4caf-893c-0b8d83ab42e8}">
								<RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\wolframe">
									<RegistryValue Id="ImagePath" Type="expandable" Name="ImagePath" 
									               Value="&quot;[INSTALLDIR]bin\wolframed.exe&quot; --service -c &quot;[INSTALLDIR]config\wolframe.xml&quot;"/>
								</RegistryKey>								
							</Component>
							
							<?ifdef var.with_ssl?>				
							<Component Id="OpenSSL" Guid="{606BA861-BBE5-49C0-A037-6A4F4B2DD496}"> 
								<File Id="ssleay32.dll" Name="ssleay32.dll" DiskId="1" Source="..\src\ssleay32.dll"/> 
								<File Id="libeay32.dll" Name="libeay32.dll" DiskId="1" Source="..\src\libeay32.dll"/> 
							</Component>
							<?endif?>

							<?ifdef var.with_libxml2?>
							<Component Id="LibXML2" Guid="{B2788BB1-0226-4365-AB12-C24F21B37134}">
								<File Id="libxml2.dll" Name="libxml2.dll" DiskId="1" Source="..\src\libxml2.dll"/>
								<File Id="iconv.dll" Name="iconv.dll" DiskId="1" Source="..\src\iconv.dll"/>
							</Component>
							<?endif?>
							
							<?ifdef var.with_icu?>
							<Component Id="ICUDlls" Guid="{205cf449-6a2e-4d43-969a-5740fc4f737b}">
								<?ifdef var.debug?>
									<File Id="icuin$(var.icu_lib_version)d.dll" Name="icuind.dll" DiskId="1" Source="..\src\icuin49d.dll"/>
									<File Id="icuuc$(var.icu_lib_version)d.dll" Name="icuucd.dll" DiskId="1" Source="..\src\icuuc49d.dll"/>
								<?else?>
									<File Id="icuin$(var.icu_lib_version).dll" Name="icuin.dll" DiskId="1" Source="..\src\icuin49.dll"/>
									<File Id="icuuc$(var.icu_lib_version).dll" Name="icuuc.dll" DiskId="1" Source="..\src\icuuc49.dll"/>
								<?endif?>
							</Component>
							<?endif?>							
							
							<?ifdef with_pgsql?>
							<Component Id="PostgresqlDlls" Guid="{3BD6483F-70B2-44D3-9C65-26787635A44B}">
								<File Id="libpq.dll" Name="libpq.dll" DiskId="1" Source="..\src\libpq.dll"/>
								<?ifdef pgdll_with_18n?>
									<?ifdef pgdll_without_major_versions?>
										<File Id="libiconv.dll" Name="libiconv.dll" DiskId="1" Source="..\src\libiconv.dll"/>
										<File Id="libintl.dll" Name="libintl.dll" DiskId="1" Source="..\src\libintl.dll"/>
									<?else?>
										<File Id="libiconv.dll" Name="libiconv-2.dll" DiskId="1" Source="..\src\libiconv-2.dll"/>
										<File Id="libintl.dll" Name="libintl-8.dll" DiskId="1" Source="..\src\libintl-8.dll"/>								
									<?endif?>
								<?endif?>
							</Component>
							<?endif?>
						</Directory>

						<Directory Id="ConfigDir" Name="config">
							<Component Id="WolframeConfigXml" Guid="{2ECC2B4F-9198-4498-8BD2-00446C16F239}">
								<File Id="wolframe.xml" Name="wolframe.xml" DiskId="1" Source="wolframe.xml"/>
							</Component>
						</Directory>

						<Directory Id="DocumentationDir" Name="doc">
							<Component Id="WolfBookDocumentationCHM" Guid="{401ef900-41e1-4523-bee7-00fff432cff0}">
								<File Id="WolfBook.chm" Name="WolfBook.chm" DiskId="1" Source="..\docs\output\htmlhelp\htmlhelp.chm"/>
							</Component>
							
							<Component Id="APIDocumentationCHM" Guid="{2a73f5b4-c257-4696-8847-bd503727fa51}">
								<File Id="wolframeAPI.chm" Name="wolframeAPI.chm" DiskId="1" Source="..\docs\doxygen\html\index.chm"/>
							</Component>
						</Directory>						
						
						<Directory Id="ModulesDir" Name="modules">
							<?ifdef with_sqlite3?>
							<Component Id="ModDbSqlite3" Guid="{71270C73-F3B4-4956-8DBC-D80301BB3417}">
								<File Id="mod_db_sqlite3.dll" Name="mod_db_sqlite3.dll" DiskId="1" Source="..\src\modules\database\sqlite3\mod_db_sqlite3.dll"/>
								<util:XmlFile Id="AppendConfigModDbSqlite3" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_db_sqlite3.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
								<util:XmlFile Id="AppendDBconfigSqlite3SQlite" Action="createElement" ElementPath="/configuration/database"
								              Name="SQLite"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
								<util:XmlFile Id="AppendDBconfigSqlite3Identifier" Action="createElement" ElementPath="/configuration/database/SQLite"
								              Name="identifier" Value="sqlitedb"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="2"/>
								<util:XmlFile Id="AppendDBconfigSqlite3Filename" Action="createElement" ElementPath="/configuration/database/SQLite"
								              Name="filename" Value="#inserted by installer#"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="3"/>
								<util:XmlFile Id="UpdateSqlite3DbLocation" Action="setValue" ElementPath="/configuration/database/SQLite/filename"
								              Value="[INSTALLDIR]data\primary.db"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="4"/>
							</Component>
							<?endif?>

							<?ifdef with_pgsql?>
							<Component Id="ModDbPostgresql" Guid="{F1A6E235-2394-466A-AB1E-A1CD6C396339}">
								<File Id="mod_db_postgresql.dll" Name="mod_db_postgresql.dll" DiskId="1" Source="..\src\modules\database\postgresql\mod_db_postgresql.dll"/>
								<util:XmlFile Id="AppendConfigModDbPostgresql" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_db_postgresql.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
								<util:XmlFile Id="AppendDBconfigPostgresqlPostgresql" Action="createElement" ElementPath="/configuration/database"
								              Name="PostgreSQL"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
								<util:XmlFile Id="AppendDBconfigPostgresqlIdentifier" Action="createElement" ElementPath="/configuration/database/PostgreSQL"
								              Name="identifier" Value="pgdb"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="2"/>
								<util:XmlFile Id="AppendDBconfigPostgresqlHost" Action="createElement" ElementPath="/configuration/database/PostgreSQL"
								              Name="host" Value="[WOLFRAME_DATABASE_HOST]"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="3"/>
								<util:XmlFile Id="AppendDBconfigPostgresqlPort" Action="createElement" ElementPath="/configuration/database/PostgreSQL"
								              Name="port" Value="[WOLFRAME_DATABASE_PORT]"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="4"/>
								<util:XmlFile Id="AppendDBconfigPostgresqlDatabase" Action="createElement" ElementPath="/configuration/database/PostgreSQL"
								              Name="database" Value="[WOLFRAME_DATABASE_DATABASE]"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="5"/>
								<util:XmlFile Id="AppendDBconfigPostgresqlUser" Action="createElement" ElementPath="/configuration/database/PostgreSQL"
								              Name="user" Value="[WOLFRAME_DATABASE_USER]"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="6"/>
								<util:XmlFile Id="AppendDBconfigPostgresqlPassword" Action="createElement" ElementPath="/configuration/database/PostgreSQL"
								              Name="password" Value="[WOLFRAME_DATABASE_PASSWORD]"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="7"/>
								<util:XmlFile Id="AppendDBconfigPostgresqlConnectionTimeout" Action="createElement" ElementPath="/configuration/database/PostgreSQL"
								              Name="connectionTimeout" Value="10"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="8"/>
								<util:XmlFile Id="AppendDBconfigPostgresqConnections" Action="createElement" ElementPath="/configuration/database/PostgreSQL"
								              Name="connections" Value="5"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="9"/>
								<util:XmlFile Id="AppendDBconfigPostgresqlAcquireTimeout" Action="createElement" ElementPath="/configuration/database/PostgreSQL"
								              Name="acquireTimeout" Value="10"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="10"/>
							</Component>
							<?endif?>
							
							<Component Id="ModAuditDatabase" Guid="{8EBEC554-6E24-435A-82E1-EE7B1DADE59D}">
								<File Id="mod_audit_database.dll" Name="mod_audit_database.dll" DiskId="1" Source="..\src\modules\audit\database\mod_audit_database.dll"/>
								<util:XmlFile Id="AppendConfigModAuditDatabase" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_audit_database.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
								<util:XmlFile Id="UpdateConfigModAuditDatabaseReference" Action="setValue" ElementPath="/configuration/AAAA/Audit/Database/database"
								              Value="[WOLFRAME_DATABASE_TYPE]"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
							</Component>
							
							<Component Id="ModAuditTextfile" Guid="{A2A224B8-E564-4F45-B600-A3FC6142544F}">
								<File Id="mod_audit_textfile.dll" Name="mod_audit_textfile.dll" DiskId="1" Source="..\src\modules\audit\textfile\mod_audit_textfile.dll"/>
								<util:XmlFile Id="AppendConfigModAuditTextfile" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_audit_textfile.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
								<util:XmlFile Id="UpdateAuditTextfileLocation" Action="setValue" ElementPath="/configuration/AAAA/Audit/TextFile/file"
								              Value="[INSTALLDIR]data\audit.txt"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
							</Component>

							<Component Id="ModAuthDatabase" Guid="{5C91782A-8751-40ED-9E3C-3818405614B8}">
								<File Id="mod_auth_database.dll" Name="mod_auth_database.dll" DiskId="1" Source="..\src\modules\authentication\database\mod_auth_database.dll"/>
								<util:XmlFile Id="AppendConfigModAuthDatabase" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_auth_database.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
								<util:XmlFile Id="UpdateConfigModAuthDatabaseReference" Action="setValue" ElementPath="/configuration/AAAA/authentication/database/database"
								              Value="[WOLFRAME_DATABASE_TYPE]"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
							</Component>

							<Component Id="ModAuthTextfile" Guid="{C3062ADD-6827-4ABE-915F-F1DA1D8EAF47}">
								<File Id="mod_auth_textfile.dll" Name="mod_auth_textfile.dll" DiskId="1" Source="..\src\modules\authentication\textfile\mod_auth_textfile.dll"/>
								<util:XmlFile Id="AppendConfigModAuthTextfile" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_auth_textfile.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
								<util:XmlFile Id="UpdateAuthTextfileLocation" Action="setValue" ElementPath="/configuration/AAAA/authentication/TextFile/file"
								              Value="[INSTALLDIR]data\auth.txt"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
							</Component>

							<Component Id="ModAuthzDatabase" Guid="{e9da7e48-2bee-43bf-a388-ce2bb02da1bd}">
								<File Id="mod_authz_database.dll" Name="mod_authz_database.dll" DiskId="1" Source="..\src\modules\authorization\database\mod_authz_database.dll"/>
								<util:XmlFile Id="AppendConfigModAuthzDatabase" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_authz_database.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
							</Component>

<!--
							<Component Id="ModDdlCompilerSimpleForm" Guid="{2a5e72e8-cc29-4264-8026-c222901ea401}">
								<File Id="mod_ddlcompiler_simpleform.dll" Name="mod_ddlcompiler_simpleform.dll" DiskId="1" Source="..\src\modules\ddlcompiler\simpleform\mod_ddlcompiler_simpleform.dll"/>
								<util:XmlFile Id="AppendConfigModDdlCompilerSimpleForm" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_ddlcompiler_simpleform.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
							</Component>
-->

							<Component Id="ModFilterChar" Guid="{2dc36fbb-e779-43cf-b6cf-c6dbb280fc85}">
								<File Id="mod_filter_char.dll" Name="mod_filter_char.dll" DiskId="1" Source="..\src\modules\filter\char\mod_filter_char.dll"/>
								<util:XmlFile Id="AppendConfigModFilterChar" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_filter_char.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
							</Component>

							<?ifdef var.with_libxml2?>
								<Component Id="ModFilterLibXml2" Guid="{ccbe6394-ce8e-4faf-acbf-79b8173c8c12}">
									<File Id="mod_filter_libxml2.dll" Name="mod_filter_libxml2.dll" DiskId="1" Source="..\src\modules\filter\libxml2\mod_filter_libxml2.dll"/>
									<util:XmlFile Id="AppendConfigModFilterLibXml2" Action="createElement" ElementPath="/configuration/LoadModules"
												  Name="module" Value="[INSTALLDIR]modules\mod_filter_libxml2.dll"
											  File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
								</Component>
							<?endif?>
							
							<Component Id="ModFilterLine" Guid="{60e8af7a-488b-4b50-81ba-e1f0685e5987}">
								<File Id="mod_filter_line.dll" Name="mod_filter_line.dll" DiskId="1" Source="..\src\modules\filter\line\mod_filter_line.dll"/>
								<util:XmlFile Id="AppendConfigModFilterLine" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_filter_line.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
							</Component>

							<Component Id="ModFilterTextwolf" Guid="{2c0379f7-bec4-41f1-bf2b-7cf2e23d22cb}">
								<File Id="mod_filter_textwolf.dll" Name="mod_filter_textwolf.dll" DiskId="1" Source="..\src\modules\filter\textwolf\mod_filter_textwolf.dll"/>
								<util:XmlFile Id="AppendConfigModFilterTextwolf" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_filter_textwolf.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
							</Component>

							<Component Id="ModFilterToken" Guid="{2424b75e-85cc-4bbe-b5ce-73c21680e622}">
								<File Id="mod_filter_token.dll" Name="mod_filter_token.dll" DiskId="1" Source="..\src\modules\filter\token\mod_filter_token.dll"/>
								<util:XmlFile Id="AppendConfigModFilterToken" Action="createElement" ElementPath="/configuration/LoadModules"
								              Name="module" Value="[INSTALLDIR]modules\mod_filter_token.dll"
									      File="[#wolframe.xml]" SelectionLanguage="XPath" Sequence="1"/>
							</Component>

							<?ifdef var.with_icu?>
								<Component Id="ModNormalizeLocale" Guid="{619a69fe-f857-40e3-abd1-8acc44b6f939}">
									<File Id="mod_normalize_locale.dll" Name="mod_normalize_locale.dll" DiskId="1" Source="..\src\modules\normalize\locale\mod_normalize_locale.dll"/>
								</Component>
							<?endif?>

							<Component Id="ModNormalizeNumber" Guid="{a77a21c2-5586-470b-a3fa-96968c708705}">
								<File Id="mod_normalize_number.dll" Name="mod_normalize_number.dll" DiskId="1" Source="..\src\modules\normalize\number\mod_normalize_number.dll"/>
							</Component>

						</Directory>
						
						<Directory Id="LogDir" Name="logs">
							<Component Id="EmptyLogDir" Guid="{A9695D48-197D-49A0-A1B8-A8A50D18C693}">
								<CreateFolder/>
								<RemoveFile Id="LogFiles" On="uninstall" Name="*.log"/>
							</Component>
						</Directory>

						<Directory Id="DataDir" Name="data">
							<Component Id="EmptyDataDir" Guid="{48BB041A-BDA9-4B6C-87F9-94CB264F3032}">
								<CreateFolder/>
								<RemoveFile Id="SqliteDataFiles" On="uninstall" Name="primary.db"/>
							</Component>
						</Directory>
													
					</Directory>
				</Directory>
			</Directory>
			
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Wolframe"/>
			</Directory>
		</Directory>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="{989CD261-D90C-4AEA-80BA-E1EB9931B2F8}">
				<util:InternetShortcut Id="WolframeHomePage"
				                       Name="Wolframe Home Page"
				                       Target="http://www.wolframe.net/"/>
				
				<Shortcut Id="WolfBookDocumentation"
					  Name="Wolframe Documentation"
					  Description="Show Wolframe HTML Documentation"
					  Target="[INSTALLDIR]doc\WolfBook.chm"/>

				<Shortcut Id="APIDocumentation"
					  Name="API Documentation"
					  Description="Show API HTML Documentation"
					  Target="[INSTALLDIR]doc\wolframeAPI.chm"/>
					  
				<Shortcut Id="UninstallProduct"             
				          Name="Uninstall Wolframe"
				          Description="Uninstalls Wolframe"
				          Target="[System64Folder]msiexec.exe"
				          Arguments="/x $(var.ProductCode)"/>

				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="SOFTWARE\WolframeGroup\Wolframe"
				               Name="installed" Type="integer" Value="1" KeyPath="yes"/>
				<RegistryValue Root="HKCU" Key="SOFTWARE\WolframeGroup\Wolframe\Configuration"
				               Name="DatabaseType" Type="string" Value="[WOLFRAME_DATABASE_TYPE]"/>
			</Component>
		</DirectoryRef>

		<Feature Id="Complete" Title="Wolframe" Description="$(var.ProductName)"
		         Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
			<Feature Id="MainProgram" Title="Wolframe Service" Description="The basic Wolframe server." Level="1" AllowAdvertise="no" Absent="disallow" InstallDefault="local">
				<ComponentRef Id="License"/>
				<ComponentRef Id="ServiceBinary"/>
				<ComponentRef Id="WolfilterBinary"/>				
				<ComponentRef Id="ServiceRegistryEntries"/>
				<ComponentRef Id="EventLogDlls"/>
				<ComponentRef Id="EventLogRegistryEntries"/>
				<?ifdef var.with_ssl?>				
				<ComponentRef Id="OpenSSL"/>
				<?endif?>
				<?ifdef with_lua?>
					<ComponentRef Id="LuaBinary"/>
					<ComponentRef Id="LuaDll"/>
				<?endif?>
				<ComponentRef Id="WolframeConfigXml"/>
				<ComponentRef Id="ApplicationShortcut"/>
				<ComponentRef Id="EmptyLogDir"/>
				<ComponentRef Id="EmptyDataDir"/>
			</Feature>
						
			<Feature Id="DatabaseModules" Title="Database Modules" Description="Connectors to databases" Level="3">
				<?ifdef with_sqlite3?>
				<Feature Id="Sqlite3DB" Title="SQlite3 database driver" Description="Access local Sqlite3 database files." Level="3" InstallDefault="local" TypicalDefault="install">
					<ComponentRef Id="ModDbSqlite3"/>
					<ComponentRef Id="Sqlite3Binary"/>
				</Feature>				
				<?endif?>
				
				<?ifdef with_pgsql?>
				<Feature Id="PostgresqlDB" Title="PostgreSQL database driver" Description="Access PostgreSQL database." Level="1000">
					<ComponentRef Id="ModDbPostgresql"/>
					<ComponentRef Id="PostgresqlDlls"/>
				</Feature>
				<?endif?>
			</Feature>
			
			<Feature Id="AuditModules" Title="Modules for Auditing" Description="Audit modules" Level="3">
				<Feature Id="AuditDatabase" Title="Audit via database" Description="Audit via a database module." Level="3" TypicalDefault="install">
					<ComponentRef Id="ModAuditDatabase"/>
				</Feature>
				<Feature Id="AuditTextfile" Title="Audit via textfile" Description="Audit via a local text file." Level="3" InstallDefault="local" TypicalDefault="install">
					<ComponentRef Id="ModAuditTextfile"/>
				</Feature>
			</Feature>
			
			<Feature Id="AuthModules" Title="Authentication Modules" Description="Authentication modules" Level="3">
				<Feature Id="AuthDatabase" Title="Authenticate via database" Description="Use a database module for authentication." Level="3" InstallDefault="local" TypicalDefault="install">
					<ComponentRef Id="ModAuthDatabase"/>
				</Feature>
				<Feature Id="AuthTextfile" Title="Authenticate via textfile" Description="Use a local textfile for authentication." Level="3" InstallDefault="local" TypicalDefault="install">
					<ComponentRef Id="ModAuthTextfile"/>
				</Feature>
			</Feature>

			<Feature Id="AuthzModules" Title="Authorization Modules" Description="Authorization modules" Level="3">
				<Feature Id="AuthzDatabase" Title="Authenticate via database" Description="Use a database module for authorizaion." Level="3" InstallDefault="local" TypicalDefault="install">
					<ComponentRef Id="ModAuthzDatabase"/>
				</Feature>
			</Feature>

<!--
			<Feature Id="ProcessingModules" Title="Data Processing Modules" Description="Data Processing modules" Level="3">
				<Feature Id="DdlCompilerSimpleForm" Title="Simple form" Description="Wolframe data definition language compiler." Level="3" InstallDefault="local" TypicalDefault="install">
					<ComponentRef Id="ModDdlCompilerSimpleForm"/>
				</Feature>
			</Feature>
-->
			
			<Feature Id="FilterModules" Title="Filter Modules" Description="Filter modules" Level="3">
				<Feature Id="StandardFilterModules" Title="Standard filter modules" Description="Standard filter modules." Level="3" InstallDefault="local" TypicalDefault="install">
					<ComponentRef Id="ModFilterChar"/>
					<ComponentRef Id="ModFilterLine"/>
					<ComponentRef Id="ModFilterTextwolf"/>
					<ComponentRef Id="ModFilterToken"/>
				</Feature>

				<?ifdef var.with_libxml2?>
					<Feature Id="FilterModuleLibXml2" Title="Libxml2 filter module" Description="Libxml filter module." Level="3" InstallDefault="local" TypicalDefault="install">
						<ComponentRef Id="ModFilterLibXml2"/>
						<ComponentRef Id="LibXML2"/>
					</Feature>
				<?endif?>
				
			</Feature>			
			
			<Feature Id="NormalizationModules" Title="Normalization Modules" Description="Normalization modules" Level="3">
				<Feature Id="StandardNormalizationModules" Title="Standard normalization modules" Description="Standard normalization modules." Level="3" InstallDefault="local" TypicalDefault="install">
					<ComponentRef Id="ModNormalizeNumber"/>
				</Feature>

				<?ifdef var.with_icu?>
					<Feature Id="NormalizationModuleLocale" Title="Normalization Module with ICU" Description="Normalization Module with ICU." Level="3" InstallDefault="local" TypicalDefault="install">
						<ComponentRef Id="ModNormalizeLocale"/>
						<ComponentRef Id="ICUDlls"/>
					</Feature>
				<?endif?>
				
			</Feature>
			
			<Feature Id="Clients" Title="Clients" Description="Client programs talking to Wolframe." Level="3"  InstallDefault="local">
				<Feature Id="ClientLibrary" Title="Client C++ library" Description="A simple command line interpreter to access the Wolframe server." Level="3">
					<ComponentRef Id="WolframeCppClientLib"/>
				</Feature>
				<Feature Id="CommandLineTool" Title="Command Line Tool" Description="A simple command line interpreter to access the Wolframe server." Level="3">
					<ComponentRef Id="Wolframec"/>
				</Feature>
				<?ifdef var.with_qt?>
				<Feature Id="QtClient" Title="Qt Client" Description="A Qt client to access the Wolframe server." Level="1000">
					<ComponentRef Id="WolframeQtClient"/>
					<ComponentRef Id="WolframeWidgets"/>
					<ComponentRef Id="QtDlls"/>
					<?ifdef var.with_ssl?>				
					<ComponentRef Id="OpenSSL"/>
					<?endif?>
				<?endif?>
			</Feature>
			</Feature>
			
			<Feature Id="Documentation" Title="Documentation" Description="The Wolframe documentation." Level="3">
				<Feature Id="WolframeDocumentation" Title="Wolframe Documentation" Description="The Wolframe documentation." Level="3">
					<ComponentRef Id="WolfBookDocumentationCHM"/>
				</Feature>
				<Feature Id="APIDocumentation" Title="API Documentation" Description="The Wolframe API Doxygen documentation." Level="3">
					<ComponentRef Id="APIDocumentationCHM"/>
				</Feature>
			</Feature>

			<Feature Id="SDK" Title="SDK" Description="The programming SDK." Level="1000">
			</Feature>

		</Feature>
		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
		
		<Property Id="WOLFRAME_DATABASE_TYPE" Secure="yes">
			<RegistrySearch Id="WolframeDatabaseType" Root="HKCU"
			                Key="SOFTWARE\WolframeGroup\Wolframe\Configuration"
					Name="DatabaseType" Type="raw"/>
		   sqlitedb
		</Property>
		<Property Id="WOLFRAME_DATABASE_HOST" Secure="yes">
			localhost
		</Property>
		<Property Id="WOLFRAME_DATABASE_PORT" Secure="yes">
			5432
		</Property>
		<Property Id="WOLFRAME_DATABASE_DATABASE" Secure="yes">
		</Property>
		<Property Id="WOLFRAME_DATABASE_USER" Secure="yes">
		</Property>
		<Property Id="WOLFRAME_DATABASE_PASSWORD" Secure="yes">
		</Property>
		
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>
		<WixVariable Id="WixUIDialogBmp" Value="bitmaps/Wolf.bmp"/>
		<Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Check out http://www.wolframe.net for additional information."/>

		<Property Id="APPHELPLINK">http://www.wolframe.net</Property>
		<Icon Id="Wolframe.ico" SourceFile="bitmaps/Wolframe.ico"/>
		<Property Id="ARPPRODUCTICON" Value="Wolframe.ico"/>
		
		<UIRef Id="WixUI_Wolframe"/>
		<UIRef Id="WixUI_ErrorProgressText"/>
				
		<!-- make sure ImagePath is patched after installation of service -->
		<InstallExecuteSequence>
			<!-- TODO: is 5801 a global constant number? -->
			<WriteRegistryValues Sequence="5801"/>
		</InstallExecuteSequence>

	</Product>
</Wix>
