<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:firewall="http://schemas.microsoft.com/wix/FirewallExtension">
	<Product Name='Wolframe' Version='0.0.1' Manufacturer='Wolframe Team'
	         Language='1033' Codepage='1252'
	         Id='{09E1E9CC-6AE6-4207-B7FE-F47CFDB2861F}' 
	         UpgradeCode='{64361569-C468-42DE-95A1-901DDDE84D13}' >
		<Package Description='Wolframe Windows Installer Package'
		         Comments='The Wolframe framework'
		         Manufacturer='Wolframe Team' InstallerVersion='300' Compressed='yes' />

		<Media Id='1' Cabinet='wolframe.cab' EmbedCab='yes' />
		
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<!-- TODO: 32-bit/64-bit switch -->
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='WolframeGroup' Name='Wolframe Group'>
					<Directory Id='INSTALLDIR' Name='Wolframe'>
						<Component Id='License' Guid='{6999FF89-95FC-4E6B-867B-7AC19839284E}'>
							<File Id='license' Name='license.rtf' DiskId='1' Source='license.rtf' />
						</Component>
						<Directory Id='BinDir' Name='bin'>
							<Component Id='ServiceBinary' Guid='{112265CD-F35C-49B5-A4A1-F685B32BC208}'>
								<File Id='wolframed' Name='wolframed.exe' DiskId='1' Source='..\src\wolframed.exe' />
								<firewall:FirewallException Id="Protocol" Name='Wolframe Protocol' Port='7661' Protocol='tcp' Scope='any'/>
								<firewall:FirewallException Id="SSLProtocol" Name='Wolframe Protocol (SSL)' Port='7961' Protocol='tcp' Scope='any'/>
							</Component>
							
							<Component Id="OpenSSL" Guid="{606BA861-BBE5-49C0-A037-6A4F4B2DD496}"> 
								<File Id="ssleay32" Name="ssleay32.dll" DiskId="1" Source="..\src\ssleay32.dll" /> 
								<File Id="libeay32" Name="libeay32.dll" DiskId="1" Source="..\src\libeay32.dll" /> 
							</Component> 

						</Directory>
					</Directory>
				</Directory>
			</Directory>
			
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Wolframe"/>
			</Directory>

			<!-- merge module for the C++ runtime, careful: check manifests of
			     all EXE and DLLs, especially thrid-party ones like OpenSSL,
			     Qt, etc.!
			     - http://wix.sourceforge.net/manual-wix3/install_vcredist.htm
			     - http://blogs.msdn.com/b/astebner/archive/2007/02/13/building-an-msi-using-wix-v3-0-that-includes-the-vc-8-0-runtime-merge-modules.aspx
			     - http://msdn.microsoft.com/en-us/library/ms235290(v=vs.80).aspx
			     - http://social.msdn.microsoft.com/Forums/en-US/vcgeneral/thread/867cf808-bf1f-4f4a-bde1-cd75d92d73ad
			     - http://stackoverflow.com/questions/59635/app-does-not-run-with-vs-2008-sp1-dlls-previous-version-works-with-rtm-versions
			  -->
<!--			<Merge Id="VCRedist" Language="0" SourceFile="C:\Program Files\Common Files\Merge Modules\Microsoft_VC90_CRT_x86.msm" DiskId="1" />-->	
			<Merge Id="VCRedist" Language="0" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC90_CRT_x86.msm" DiskId="1" />	

		</Directory>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="{989CD261-D90C-4AEA-80BA-E1EB9931B2F8}">
				<util:InternetShortcut Id="WolframeHomePage"
				                       Name="Wolframe Home Page"
				                       Target="http://www.wolframe.net/"/>

				<!-- Product code must be in sync with product code of the WXS! -->
				<Shortcut Id="UninstallProduct"             
				          Name="Uninstall Wolframe"
				          Description="Uninstalls Wolframe"
				          Target="[System64Folder]msiexec.exe"
				          Arguments="/x {09E1E9CC-6AE6-4207-B7FE-F47CFDB2861F}"/>

				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\WolframeGroup\Wolframe"
				               Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>


		<Feature Id='Complete' Title='Complete' Description='The complete package.'
		         Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
			<Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
				<ComponentRef Id='License'/>
				<ComponentRef Id='ServiceBinary'/>
				<ComponentRef Id='OpenSSL'/>
				<ComponentRef Id="ApplicationShortcut"/>
			</Feature>

			<Feature Id="VCRedist" Title="Visual C++ 9.0 Runtime" Level="1"
			         AllowAdvertise="no" Display="hidden">
				<MergeRef Id="VCRedist"/>
			</Feature>
			
			<Feature Id='Documentation' Title='Manual' Description='The Wolbones usage manual.' Level='1000'>
			</Feature>

			<Feature Id='SDK' Title='SDK' Description='The programming SDK.' Level='1000'>
			</Feature>

		</Feature>
		
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>
<!-- TODO: find better image here
		<WixVariable Id="WixUIDialogBmp" Value="wolframe.bmp"/>-->
		<Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Check out http://www.wolframe.net for additional information." />

		<UIRef Id="WixUI_Mondo" />
		<UIRef Id="WixUI_ErrorProgressText" />

	</Product>
</Wix>
