Wolframe.creator.user*
Wolframe.suo
Wolframe.ncb
Wolframe.vcproj.*
Debug
x64
*~
*.o
*.d
*.a
*.exe
*.exe.manifest
*.exp
*.obj
*.lib
*.log
makefiles/gmake/*.mk.vars
test.bat
*.bin
*.RES
simple_event_log.h
*.rc
src/wolframed
tests/testNamedRetVal
tests/singletonTest
tests/versionTest
tests/logTest
tests/threadLeakTest
tests/counterTest
tests/xmlselectHandlerTest
tests/protocolArgumentParsing
tests/poolTest
tests/resolvePathTest
tests/AAAA/authTest
tests/AAAA/sasl.db
tests/mtprocHandler
tests/ptreeGenerator
tests/configHelpersTest
tests/configValueParser
tests/commandCmpTest
tests/configStructParser
tests/database/dbTest
tests/database/test.db
tests/libxml2/testlibxml1
examples/echo/echod
examples/lua/luad
examples/mtproc/mtprocd
examples/pecho/pechod
examples/iproc/tests/iprocHandlerTest
examples/iproc/tests/iprocHandlerXMLTest
examples/pecho/tests/pechoHandlerTest
examples/iproc/tests/directmapParser
examples/iproc/tests/directmapCompiler
examples/iproc/tests/luamapParser
tests/expect/primary.db
clients/qt/qtclient
moc_*.cpp
clients/qt/.history
clients/Android/local.properties
clients/Android/Wolframe.keystore
clients/cli/wolfcli
tests/db/sdsqliteTest
tests/db/sqlite3ppTest
examples/iproc/iprocd
lua/src/lua
lua/src/luac
docs/WolfBook.html
docs/WolfBook.pdf
docs/doxygen/
clients/wt/wtclient
src/primary.db
tests/libxslt/testlibxslt1
