SMERP.creator.user*
SMERP.suo
SMERP.ncb
SMERP.vcproj.*
Debug
x64
*~
*.o
*.d
*.a
*.exe
*.exe.manifest
*.exp
*.obj
*.lib
*.log
makefiles/gmake/*.mk.vars
test.bat
*.bin
*.RES
simple_event_log.h
*.rc
src/smerpd
tests/singletonTest
tests/versionTest
tests/logTest
