makefiles/gmake/platform.mk.vars
makefiles/gmake/platform.vars
makefiles/gmake/python.mk.vars
makefiles/gmake/python.vars
Wolframe.creator.user*
Wolframe.suo
Wolframe.sdf
Wolframe2008.suo
Wolframe2008.ncb
src/libwolframe/libwolframe.vcxproj.user
src/libwolframe/libwolframe.vcproj.*
src/modules/*/*/*.vcxproj.user
src/modules/*/*/*.vcproj.*
wolframemsg.h
*~
*.sdf
*.opensdf
*.suo
*.asm
*.bak
*.o
*.d
*.a
*.sho
*.sho++
*.rpo
*.exe
*.exe.manifest
*.dll
*.dll.manifest
*.pdb
*.ilk
*.exp
*.obj
*.dllobj
*.lib
*.log
*.so.*
*.so
makefiles/gmake/*.mk.vars
test.bat
*.bin
*.RES
simple_event_log.h
wolframemsg.rc
src/wolframed
tests/testNamedRetVal
tests/singletonTest
tests/testVirtualInheritance
tests/versionTest
tests/logTest
tests/threadLeakTest
tests/counterTest
tests/testSHA
tests/testMD5
tests/byte2hexTest
tests/base64Test
tests/base64Utility
tests/CRAMtest
tests/HMACtest
tests/PBKDF2test
tests/xmlselectHandlerTest
tests/protocolArgumentParsing
tests/poolTest
tests/resolvePathTest
tests/mtprocHandler
tests/ptreeGenerator
tests/configHelpersTest
tests/configValueParser
tests/commandCmpTest
tests/configStructParser
tests/database/dbTest
tests/database/test.db
tests/3rdParty/libxml2/testlibxml2
tests/modules/moduleTest
tests/AAAA/authenticationTest
tests/AAAA/textFileTest
tests/AAAA/sasl.db
tests/testBoostPath
tests/filter
tests/testVariantTypes
tests/testIntegers
tests/testVariantStruct
tests/3rdParty/libhpdf/testlibhpdf
tests/3rdParty/libhpdf/*.pdf
examples/echo/echod
examples/lua/luad
examples/pecho/pechod
examples/pecho/tests/pechoHandlerTest
examples/iproc/iprocd
examples/tproc/tprocd
tests/expect/primary.db
clients/cmdline/wolframec
clients/Android/local.properties
clients/Android/Wolframe.keystore
clients/cli/wolfcli
3rdParty/lua/src/lua
docs/Tutorial.epub
docs/Tutorial.html
docs/Tutorial.pdf
docs/html-tutorial/*.html
docs/WolfBook.epub
docs/WolfBook.html
docs/WolfBook.pdf
docs/doxygen/
docs/html-webpage/
src/primary.db
tests/3rdParty/libxslt/testlibxslt1
tests/testMethodMemberPointerTemplate
examples/iproc/tests/iprocHandlerTest
examples/iproc/tests/iprocHandlerXMLTest
examples/iproc/tests/structFiltermapTest
examples/iproc/tests/structLuamapTest
examples/tproc/tests/tprocHandlerTest
examples/tproc/tests/temp/
*.wixlib
*.wixobj
*.wixpdb
*.msi
*.tlh
*.tli
*.RES
*.DIFF
clients/cli/primary.db
examples/iproc/tests/temp/
src/wolfilter
src/wolfwizard
tests/AAAA/textFileCRAMtest
tests/testRand
tests/testTimestamp
tests/bignum/libgmp/testlibgmp
tests/bignum/testbignum
tests/temp/
tests/testProtocolLFdotEscaping
tests/testWolfilter
tests/testWolfilter.sh
tests/testDatabaseProcessorVM
wtest/wtestcheck
src/modules/authentication/textfile/wolfpasswd
examples/tproc/tests/alias.bash
examples/tproc/tests/cleanInput
make.sh
makeNOLUA.sh
setenv.sh
valgrind.sh
wtest/cleanInput
tests/simpleFormCompiler/src/testSimpleFormCompiler
tests/AAAA/passwdFileTest
tests/testSimpleFormCompiler
tests/stringNormalizationTest
tests/database/PostgreSQL/postgresUnit
tests/database/PostgreSQL/dbPing
tests/database/Oracle/oracleUnit
tests/database/Oracle/dbPing
tests/database/SQLite3/sqliteUnit
tests/database/SQLite3/test.db
tests/database/SQLite3/garbage.db
tests/database/SQLite3/createRandom
tests/unitLibraryTest
tests/3rdParty/freeimage/freeimageTest
tests/3rdParty/freeimage/freeimageTestCpp
tests/3rdParty/freeimage/testmem.png
tests/3rdParty/freeimage/thumb.png
tests/3rdParty/freeimage/thumbcpp.png
tests/dotnet/csharp/Functions/Functions.csproj.user
tests/dotnet/csharp/Functions/Functions.sln
tests/dotnet/csharp/Functions/Functions.suo
tests/dotnet/csharp/Functions/obj/
tests/dotnet/interop/WolfCLR/WolfCLR.opensdf
tests/dotnet/interop/WolfCLR/WolfCLR.sdf
tests/dotnet/interop/WolfCLR/WolfCLR.sln
tests/dotnet/interop/WolfCLR/WolfCLR.suo
tests/dotnet/interop/WolfCLR/WolfCLR/Debug/
tests/dotnet/interop/WolfCLR/WolfCLR/Release/
tests/dotnet/interop/WolfCLR/WolfCLR/WolfCLR.vcxproj.filters
tests/dotnet/interop/WolfCLR/WolfCLR/WolfCLR.vcxproj.user
tests/dotnet/interop/WolfCLR/ipch/
tests/boost-locale/
tests/freeimage/
tests/libxml2/
tests/libxslt/
tests/python/
*.qm
3rdParty/sqlite3/sqlite3
tests/3rdParty/boost-locale/boostLocaleTest
tests/testArrayDoublingAllocator
tests/testFiletypeRecognition
tests/testDateTime
tests/testBigNumber
geany.c++.tags
examples/demo/configurator/database/configurator.db
examples/demo/configurator/database/configurator.db-journal
examples/demo/first/database/tree.db
examples/demo/stress/database/stress.db
examples/tutorial/database/sqlite.db
examples/demo/crm/client/.directory
examples/demo/crm/client/.history
examples/demo/crm/server/crm.db
examples/demo/lgtree/server/database/lgtree.db
*.rcc
*.gcno
*.gcda
tests/3rdParty/python/embed
qtcreator.xml
3rdParty/libcjson/testit
3rdParty/textwolf/tests/readStdinIterator
3rdParty/textwolf/tests/tests/test_TextReader
3rdParty/textwolf/tests/tests/test_XMLPathSelect
3rdParty/textwolf/tests/tests/test_XMLScanner
tests/3rdParty/libhpdf/test2.raw
