.menu {
  overflow: auto;
}

.menu li {
  display: inline;
}

.menu span {
  display: block; float: left;
}

.menu a.item span {
  cursor: pointer; cursor: hand;
  color: blue;
  margin-right: 5px;
}

.menu span.item {
  color: gray;
  margin-right: 5px;
}

.menu a.itemselected span {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
}

.menu span.itemselected {
  color: gray;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
}

.menu .citem a.label span {
  cursor: pointer; cursor: hand;
  color: blue;
}

.menu .citem span.label {
  color: gray;
}

.menu .citemselected a.label span {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.menu .citemselected span.label {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
