Source: wolframe
Section: unknown
Priority: extra
Maintainer: Mihai Barbos <mihai.barbos@gmail.com>
Build-Depends: debhelper (>= 4.1.16),
 libboost1.48-dev, libboost-thread1.48-dev, libboost-system1.48-dev,
 libboost-program-options1.48-dev, libboost-filesystem1.48-dev,
 libboost-locale1.48-dev, libboost-regex1.48-dev,
 libssl-dev, libqt4-dev, libpam-dev, libsasl2-dev,
 libsqlite3-dev, libpq-dev, libxml2-dev, zlib1g-dev, libpng-dev
Standards-Version: 3.8.3
Homepage: http://www.wolframe.net

Package: wolframe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wolframe Daemon
 The Wolframe server and server utilities.

Package: wolframe-dev
Architecture: any
Depends: wolframe, ${shlibs:Depends}, ${misc:Depends}
Description: Wolframe Development
 The Wolframe server SDK development files and static libraries.

Package: wolframe-sqlite3
Architecture: any
Depends: wolframe, ${shlibs:Depends}, ${misc:Depends}
Description: Sqlite3 database bindings
 The Wolframe database module for Sqlite3.

Package: wolframe-postgresql
Architecture: any
Depends: wolframe, ${shlibs:Depends}, ${misc:Depends}
Description: Postgresql database bindings
 The Wolframe database module for Postgresql (libpq).

Package: wolframe-pam
Architecture: any
Depends: wolframe, ${shlibs:Depends}, ${misc:Depends}
Description: PAM authentication bindings
 The Wolframe authentication module for PAM.

Package: wolframe-sasl
Architecture: any
Depends: wolframe, ${shlibs:Depends}, ${misc:Depends}
Description: SASL authentication bindings
 The Wolframe authentication module using Cyrus SASL.

Package: wolframe-libxml2
Architecture: any
Depends: wolframe, ${shlibs:Depends}, ${misc:Depends}
Description: The Wolframe XML parsing module using libxml2.
 The Wolframe XML parsing module using libxml2.

Package: wolframe-libxslt
Architecture: any
Depends: wolframe, ${shlibs:Depends}, ${misc:Depends}
Description: The Wolframe filter module using libxslt.
 The Wolframe filter module using libxslt.

Package: wolframe-libhpdf
Architecture: any
Depends: wolframe, ${shlibs:Depends}, ${misc:Depends}
Description: Wolframe printing module based on libhpdf/libharu.
 Wolframe printing module based on libhpdf/libharu.

Package: wolframe-freeimage
Architecture: any
Depends: wolframe, ${shlibs:Depends}, ${misc:Depends}
Description: Wolframe image manipulation function module.
 Wolframe image manipulation function module implemented with
 the FreeImage library.

Package: wolframe-libclient
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wolframe C++ client library
 Wolframe client library for C++ (implemented using boost libraries).

Package: wolframe-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wolframe client command line tool.
 Command line client to access the Wolframe server.

Package: wolframe-qtclient
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wolframe Qt frontend
 Qt client for the Wolframe server.

Package: wolframe-doc
Architecture: all
Description: Documentation for Wolframe
 The HTML and PDF WolfBook, tutorial and doxygen API documentation
 of the Wolframe system.
