Source: wolframe
Section: unknown
Priority: extra
Maintainer: Mihai Barbos <mihai.barbos@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: wolframe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: wolframe-doc
Architecture: all
Description: documentation for wolframe
 <insert long description, indented with spaces>
