Source: wolframe
Section: unknown
Priority: extra
Maintainer: Mihai Barbos <mihai.barbos@gmail.com>
Build-Depends: debhelper (>= 4.1.16),
 libboost1.46-dev, libboost-thread1.46-dev, libboost-system1.46-dev,
 libboost-program-options1.46-dev, libboost-filesystem1.46-dev,
 libssl-dev, libqt4-dev, libpam-dev, libsasl2-dev,
 libsqlite3-dev, libpq-dev
Standards-Version: 3.8.3
Homepage: http://www.wolframe.net

Package: wolframe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wolframe Daemon
 <insert long description, indented with spaces>

Package: wolframe-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt client for Wolframe
 <insert long description, indented with spaces>

Package: wolframe-doc
Architecture: all
Description: documentation for Wolframe
 <insert long description, indented with spaces>
