#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

# This has to be exported to make some magic below work.
export DH_OPTIONS

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export WOLFRAME_PARAMS=BOOST_DIR=/usr libdir=/usr/lib/$(DEB_HOST_MULTIARCH) WITH_SSL=1 WITH_SYSTEM_SQLITE3=1 WITH_LUA=1 WITH_PAM=1 WITH_SASL=1 WITH_PGSQL=1 WITH_QT4=1 WITH_LIBXML2=1 WITH_LIBXSLT=1 WITH_EXAMPLES=1 WITH_LOCAL_LIBHPDF=1 WITH_ICU=1 WITH_LOCAL_FREEIMAGE=1 RELEASE=1 DEFAULT_MODULE_LOAD_DIR=/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe/modules

export BOOST_VERSION=1.48.0

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	PARALLEL_BUILD = -j$(NUMJOBS)
endif

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) help
	$(MAKE) $(WOLFRAME_PARAMS) config
	$(MAKE) LDFLAGS="-Wl,-rpath=/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe -Wl,-rpath=/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe/plugins" \
		$(WOLFRAME_PARAMS) depend
	$(MAKE) LDFLAGS="-Wl,-rpath=/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe -Wl,-rpath=/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe/plugins" \
		$(WOLFRAME_PARAMS) $(PARALLEL_BUILD) all
	cd docs; $(MAKE) $(WOLFRAME_PARAMS) doc-doxygen; cd ..

	# --- end custom part for compiling

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) clean || true
	# --- end custom part for cleaning up

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package
	# The DESTDIR Has To Be Exactly  /usr/src/packages/BUILD/debian/<nameOfPackage>

	# main package
	$(MAKE) install $(WOLFRAME_PARAMS) \
		sysconfdir=/etc \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe

	# database modules depend on the database client library, each of them in its own package
	cd src/modules/database; $(MAKE) uninstall $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe; \
		cd ../../..

	# authentication modules depend on strange libraries, each of the in its own package
	cd src/modules/authentication/pam; $(MAKE) uninstall $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe; \
		cd ../../../..
	cd src/modules/authentication/sasl; $(MAKE) uninstall $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe; \
		cd ../../../..

	# remove documentation in main package
	cd docs; $(MAKE) uninstall $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe; \
		cd ..

	# the client libraries, the cli deserve their own package,
	# the Qt client depends on X11/Qt, so it deserves it's own package
	cd clients; $(MAKE) uninstall $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe; \
		cd ..

	# the libxml2 filter module depends on libxml, put it in a separate package
	cd src/modules/filter/libxml2; $(MAKE) uninstall $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe; \
		cd ../../../..
	
	# libxslt
	
	# the libhpdf printing module depends on libhpdf, put it in a separate package
	cd src/modules/prnt/haruPdfPrinter; $(MAKE) uninstall $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe; \
		cd ../../../..
	
	# the graphix module depends on freeimage, put it in a separate package
	cd src/modules/functions/graphix; $(MAKE) uninstall $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe; \
		cd ../../../..

	# module database sqlite3
	cd src/modules/database/sqlite3; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-sqlite3; \
		cd ../../../..
	mkdir /usr/src/packages/BUILD/debian/wolframe-sqlite3/DEBIAN
	cp debian/shlibs /usr/src/packages/BUILD/debian/wolframe-sqlite3/DEBIAN

	# module database postgresql
	cd src/modules/database/postgresql; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-postgresql; \
		cd ../../../..
	mkdir /usr/src/packages/BUILD/debian/wolframe-postgresql/DEBIAN
	cp debian/shlibs /usr/src/packages/BUILD/debian/wolframe-postgresql/DEBIAN

	# authentication module for PAM
	cd src/modules/authentication/pam; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-pam; \
		cd ../../../..
	mkdir /usr/src/packages/BUILD/debian/wolframe-pam/DEBIAN
	cp debian/shlibs /usr/src/packages/BUILD/debian/wolframe-pam/DEBIAN

	# authentication module for Sasl
	cd src/modules/authentication/sasl; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-sasl; \
		cd ../../../..
	mkdir /usr/src/packages/BUILD/debian/wolframe-sasl/DEBIAN
	cp debian/shlibs /usr/src/packages/BUILD/debian/wolframe-sasl/DEBIAN

	# filter module libxml2
	cd src/modules/filter/libxml2; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-libxml2; \
		cd ../../../..
	mkdir /usr/src/packages/BUILD/debian/wolframe-libxml2/DEBIAN
	cp debian/shlibs /usr/src/packages/BUILD/debian/wolframe-libxml2/DEBIAN
	
	# filter module libxslt

	# printing module for libhpdf
	cd src/modules/prnt/haruPdfPrinter; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-libhpdf; \
		cd ../../../..
	mkdir /usr/src/packages/BUILD/debian/wolframe-libhpdf/DEBIAN
	cp debian/shlibs /usr/src/packages/BUILD/debian/wolframe-libhpdf/DEBIAN

	# image manipulation module with freeimage
	cd src/modules/functions/graphix; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-freeimage; \
		cd ../../../..

	# copy local versions of shared libraries of boost for platforms missing a decent
	# version of boost
	mkdir -p /usr/src/packages/BUILD/debian/wolframe/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe
	for i in \
		libboost_program_options.so.$(BOOST_VERSION) \
		libboost_system.so.$(BOOST_VERSION) \
		libboost_filesystem.so.$(BOOST_VERSION) \
		libboost_thread.so.$(BOOST_VERSION) \
		libboost_date_time.so.$(BOOST_VERSION) \
		libboost_locale.so.$(BOOST_VERSION) \
		libboost_regex.so.$(BOOST_VERSION); \
		do \
		cp /usr/lib/$$i /usr/src/packages/BUILD/debian/wolframe/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe; \
	done

	# client library package
	cd clients/lib; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-libclient; \
		cd ../..
	
	# command line tool package
	cd clients/cmdline; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-client; \
		cd ../..

	# Qt client package
	cd clients/qt; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-qtclient; \
		cd ../..

	# documentation package
	cd docs; $(MAKE) install $(WOLFRAME_PARAMS) \
		DESTDIR=/usr/src/packages/BUILD/debian/wolframe-doc; \
		cd ..
	# man pages belong to the main package, lib is a bug in Makefile, but
	# no easy solvable!
	rm -rf /usr/src/packages/BUILD/debian/wolframe-doc/usr/share/man
	rm -rf /usr/src/packages/BUILD/debian/wolframe-doc/usr/lib
	
	# move things in the main package to a development package
	mkdir -p /usr/src/packages/BUILD/debian/wolframe-dev/usr
	mv -f /usr/src/packages/BUILD/debian/wolframe/usr/include \
		/usr/src/packages/BUILD/debian/wolframe-dev/usr/.
	mkdir -p /usr/src/packages/BUILD/debian/wolframe-dev/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe
	mv -f /usr/src/packages/BUILD/debian/wolframe/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe/*.so \
		/usr/src/packages/BUILD/debian/wolframe-dev/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe
	mv -f /usr/src/packages/BUILD/debian/wolframe/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe/*.a \
		/usr/src/packages/BUILD/debian/wolframe-dev/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe
	
	# --- end custom part for installing

# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit
#	dh_installcron
	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
#	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
#	dh_perl
# TODO: this needs a lot of fixing, but the build process currently is weird..
	dh_shlibdeps \
		-L libwolframe \
		-l /usr/src/packages/BUILD/debian/wolframe/usr/lib/$(DEB_HOST_MULTIARCH)/wolframe \
		-- --ignore-missing-info -v
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
