; enable or disable the authentication methods you need
$(if test "x$WITH_PAM" = "x1"; then echo ";    Module mod_auth_pam"; fi)
$(if test "x$WITH_SASL" = "x1"; then echo ";    Module mod_auth_sasl"; fi)
