; database modules
$(if test "x$WITH_SQLITE3" = "x1"; then echo ";    Module mod_db_sqlite3"; fi)
$(if test "x$WITH_PGSQL" = "x1"; then echo ";    Module mod_db_postgresql"; fi)
$(if test "x$WITH_ORACLE" = "x1"; then echo ";    Module mod_db_oracle"; fi)
