; Print the application name and version in the initial greeting
; allowed values are: ProductOnly, Major, Minor, Revision, OS, None
; Default: None
ServerTokens OS					

; Print the name of the server as first element of the greeting
; Default: empty
ServerSignature "Wolframe"
