    ListenSsl {

; Interfaces can be named for later reference

        Identifier \"secure public\"

; The address to listen to
; can be an IPv4 of the form x.x.x.x or 0.0.0.0 (for any address)
; can be an IPv6 of the form x:x:x:x:x:x:x:x or :: (for any address)

        Address ${WOLFRAME_SECURE_ADDRESS}

; Ports 7649-7671 and 7934-7966 are unassigned according to IANA (last updated 2010-03-11).
; Use 7661 for unencrypted connections and 7961 for SSL connections.
; Note that 7654 is used by Winamp.

        Port ${WOLFRAME_SECURE_PORT}

; Maximum number of simultaneous connections (clients)								
; for this socket.
; Default is the OS limit.

        MaxConnections 4

; Access restriction by IP
; Default: Allow all

        Restrictions {
        
; Allow <IP>

            Allow all

; Deny <IP>

;            Deny 127.0.0.1
        }
        
    }

; Server certificate file (PEM)

        Certificate ${CERTDIR}/wolframed.crt
       
; Server key file (PEM)

        Key ${KEYDIR}/wolframed.key

; SSL CA chain file

        CAChainFile ${CERTDIR}/CAchain.pem

; Directory holding CA certificate files
; Define one of CADirectory or CAChainFile, there is no need
; to define both

;       CADirectory ${CERTDIR}

; Require and verify client certificate

        Verify On
    }
