; data processing

Processor {

; database to use in all processors as standard database

;    Database db

; normalization program

;    Program program/example.wnmp

; form validation program using simpleform language

;    Program program/example.sfrm

; database transactions using the TDL language

;    Program program/example.tdl

; implementation of functions in various scripting languages

;    Program program/example.lua
;    Program program/example.py
    
; command handler program mapping requests to functions handling them

    CmdHandler {

; the standard command handler using the directmap language
    
        Directmap {

; the list of command mappings

;            Program program/example.dmap

; filter to use for serialization of data (format and implementation
; of the filter)

            Filter XML=textwolf
;            Filter XML=libxml2
;            Filter JSON=cjson            
        }
 
; command handlers written in scripting languages

;        Lua {
        
;            Program program/example.lua

;            Filter XML=textwolf
;            Filter XML=libxml2
;            Filter JSON=cjson            
            
;        }

    }
}
