; Wolframe main configuration file

$(eval "echo \"$(cat loadmodules.tmpl)\"")

$(cat global.tmpl)

$(cat daemon.tmpl)

$(eval "echo \"$(cat logging.tmpl)\"")

$(eval "echo \"$(cat listen.tmpl)\"")

$(eval "echo \"$(cat sqlite.tmpl | sed 's/^\(.*\)/;\1/g')\"")

$(eval "echo \"$(cat postgresql.tmpl | sed 's/^\(.*\)/;\1/g')\"")
